{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }} : Меню Альянс</h2>

    <p>
        Добро пожаловать на сайт ‘Меню Альянс’. Мы создали эту платформу,
        чтобы люди могли вместе работать над рецептами. Здесь вы можете не просто найти рецепт, а изменить его,
        предложить свои идеи и сделать его лучше вместе с другими.
    </p>
    <p>
        Наша идея в том, что лучшие рецепты получаются, когда их делают сообща.
        На сайте можно обсуждать каждый шаг рецепта, добавлять ингредиенты, менять
        технологию приготовления и делиться своим опытом. Присоединяйтесь к обсуждениям,
        голосуйте за лучшие варианты и становитесь частью сообщества.
    </p>
    <p>
        Присоединяйтесь к ‘Меню Альянс’ и открывайте новые кулинарные возможности.
        Вместе мы создадим большую базу рецептов, доступную каждому.
    </p>

{% endblock %}
