{% extends "app/layout.html" %}
{% block content %}

<meta charset="utf-8" />
<h2> {{post1.title}} </h2>
<p> {{post1.content|linebreaksbr}} </p>


{% if user.is_authenticated %}

    <h3>Добавить комментарий</h3>
    <form method="POST">
        {% csrf_token %}
        <div>
            {{form.as_p}}
            <button type="submit" class="save btn btn-default"> Отправить комментарий </button>
        </div>

    </form>

    {% else %}

    <h3> Для добавления своего комментария, пожалуйста, авторизуйтесь </h3>

{% endif %}

{% for comment in comments %}

    <hr />
    <h7> {{comment.date}} </h7>
    <h5> {{comment.author}} </h5>
    <p> {{comment.text|linebreaksbr}} </p>

{% endfor %}

{% endblock %}